html{
  margin: 0;
  padding: 0;
}
body{
    margin: 0;
    padding: 0;
    max-width: 1400px;
    max-height: 100vh;
    background-color:#000000;
}
.main{
    height: 100vh;
}

.left-panel-xl{
    /* width: 20%; */
    background: linear-gradient(to top, #000000, #4EFF9F 50%, #000000 );
    /* background: linear-gradient(to top, var(--bs-body-bg), #4EFF9F 50%, var(--bs-body-bg)); */
    color: var(--bs-body-color);
    order: 0;
    .coin-container{
        position: relative;
        width: 100%;
        height: 200px;
        img{
            position: absolute;
            top: -252px;
            left: -15px;
            order: 6;
        }
    }
}
.left-panel-sm{
    background: linear-gradient(to top, #000000, #4EFF9F 50%, #000000);
}
.left-panel-md{
    background: linear-gradient(to top, #000000, #4EFF9F 50%, #000000);
    a{
        color: unset;
    }
}
.btn-menu{
    background: linear-gradient(to top, #000000, #4EFF9F 50%, #000000);
    border-color: transparent;
}
.btn-menu:hover{
    background: #3E784E;
    border-color: transparent;
}
.btn-menu:active{
    background-color: #50A542 !important;
    border-color: transparent !important;
}
.active-cw{
    background-color: #3E784E;
}

.right-panel{
    /* background: var(--bs-body-bg); --bs-dark-bg-subtle --bs-light --bs-light-rgb */
    background-color:#000000;
    color: var(--bs-body-color);
    padding-left: 2%;
    padding-right: 2%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.icon{
    height: 16px;
    width: 16px;
}

@media (max-width: 767px) {
    .left-panel-xl {
        display: none !important;
    }
    .left-panel-md{
        display: none !important;
    }
    .left-panel-sm{
    }
    .right-panel {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .left-panel-xl {
        display: none !important;
    }
    .left-panel-md{
    }
    .left-panel-sm{
        display: none !important;
    }
    .right-panel {
        min-width: 90%;
    }
}
@media (min-width: 992px) {
    .left-panel-xl {
        /* max-width: 20% !important; */
    }
    .left-panel-md{
        display: none !important;
    }
    .left-panel-sm{
        display: none !important;
    }
    .right-panel {
        min-width: 72%;
    }
}
@media (min-width: 1200px) {
    .left-panel-xl {
        min-width: 20% !important;
    }
    .left-panel-md{
        display: none !important;
    }
    .left-panel-sm{
        display: none !important;
    }
    .right-panel {
        min-width: 78%;
    }
}