
.main-container{
    min-width: 100%;
    ul{
        display: grid;
        /* grid-template-columns: repeat(2, minmax(383px, 1fr)); */
        /* grid-template-columns: repeat(2, 383px); */
        justify-content: space-around;
        align-content: space-evenly;
        /* align-items: center; */
        grid-column-gap: 2%;
        /* grid-row-gap: 5%; */
        /* width: 80%; */
        height: 210px;
        padding: 0;
        overflow-y: scroll;
    }
}

.main-container > ul > li{
    background-color: #2A2A2D;
    height: inherit;
    border-radius: 10px;
    list-style: none;
}

.balance{
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5%;
        height: 36%;
    }
    nav:first-child{
        justify-content: space-between;
        .balance-info {
            /* display: flex;
            flex-direction: column; */
            /* align-items: flex-start; */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 50%;
            height: 100%;
            gap: 20%;
        }
        .balance-info > h4,p {
            margin: 0;
            font-size: 1.4rem;
        }
        .balance-diff{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            height: 100%;
            width: 50%;
        }
        .difference-style {
            font-size: 0.9rem;
            font-weight: 600;
            color: gray;
            padding-right: 1vw;
        }
    }
    nav:last-child{
        justify-content:  flex-start;
        /* gap: 10%; */
        .balance-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            gap: 20%;
            /* margin: 0 5% 0 5%; */
        }
        .income {
            padding: 0 15% 0 8%;
        }
        .income h5 {
            margin: 0;
            font-size: 1.1rem;
            img{
                color: #2FA15D;
                filter: drop-shadow(0px 0px 5px #2FA15D);
                padding-right: 2px;
            }
        }
        .expences {
            border-left: 1px solid #ffffff;
            padding-left: 13%;
        }
        .expences h5{
            margin: 0;
            font-size: 1.1rem;
            svg{
                color: #A13D2F;
                filter: drop-shadow(0px 0px 5px #A13D2F);
                margin-right: 2px;
            }
        }
    }
}

.wallet{
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5% 5% 0 0;
        height: 95%;
        width: 95%;
        gap: 5%;
        div{
            width: 50%;
            height: inherit;
            /* display: flex; */
            /* flex-direction: column;
            justify-content: center; */
            h4{
                margin: -5% 0 0 10%;
                font-size: 1.4rem;
            }
            .chart{
                width: 100%;
                margin: -5% 0 5% 0;
                /* height: 74%; */
            } 
        }
        ul{ 
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: space-around;
            justify-content: space-around; /* space-between*/
            margin: 0% 0% 5% 0;
            width: 40%;
            height: 90%;
            list-style: none;
            overflow-y: auto;
            li{
                display: flex;
                width: 100%;
                gap: 12%;
                img{
                    width: 35px;
                    height: 35px;
                    /* max-height: 100%; */
                }
                div{
                    width: 80%;
                    h5{
                        margin: 0;
                        font-size: 1.1rem;
                    }
                    div{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        p{
                            margin: 0;
                            font-size: .7rem;
                            color: #AB9F9F; 
                        }
                    }
                }
            }
        }
    }
}

.market-container{
    h3{
        padding: 1% 0 1% 0 ;
    }
    .crypto-list{
       display: grid;
        /* grid-column-gap: 3%; */
        /* grid-row-gap: 15px; */
        width: 100%;
        height: 55vh;
        padding: 20px;
        margin: 0;
        overflow-y: auto;
    }
}

.chart-container{
    filter: brightness(90%);
    background-color: #2A2A2D;
    width: 93%;
    height: 91%;
    border-radius: 10px;
    list-style: none;
    padding: 1%;
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 2%; /* don't change */
        height: 20%;
        img{
            width: 35px;
            height: 35px;
        }
        div > h4,h5{
            margin: 0;
            padding-bottom: 3%;
            font-size: 1.1rem;
        }
        div > p{
            margin: 0;
            color: #AB9F9F;
        }
        .difference-style{
            font-size: 0.9rem;
            font-weight: 600;
        }
    }
    .line-chart{
        max-width: 100%;
        height: 74%;
    } 
}

/* -------- IN DEV --------------- */

/* .chart-container{
    animation: shadowChart 1s linear 5s infinite running;
} */
/* @keyframes shadowChart{
    from{
    }
    to{
        box-shadow: 0px 0px 20px #4EFF9F;
    }
} */
/* .chart-container {
    animation: shadowChart 1s linear infinite;
    animation-delay: 1s;
} */
/* .chart-container:nth-child(1) {
  animation-delay: 0s;
} */
/* .active-glow {
  box-shadow: 0px 0px 20px #4EFF9F;
  transition: box-shadow 0.5s ease;
}

@keyframes shadowChart {
  0%, 100% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 0px 20px #4EFF9F;
  }
} */

.chart-container:hover{
    animation: scaleChart .5s linear forwards;
}

@keyframes scaleChart { /* add transition */
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0px 0px 20px #4EFF9F;
        filter: brightness(100%);
        scale: 1.05;
    }
    /* from{},to {
        transform: rotate3d(1, 1, 1, -60deg);
        filter: brightness(100%);
        scale: 1.05;
        box-shadow: 0px 0px 20px #4EFF9F; 
    } */
}

@media (max-width: 767px) {
    .main-container{
    ul{
        grid-template-columns: repeat(1, 383px);
    }}
    .crypto-list{
        grid-template-columns: repeat(1, minmax(260px, 1fr));
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .main-container{
    ul{
        grid-template-columns: repeat(1, 383px);
    }}
    .crypto-list{
        grid-template-columns: repeat(2, minmax(260px, 1fr));
    }
}
@media (min-width: 992px) {
    .main-container{
    ul{
        grid-template-columns: minmax(260px, 383px) 383px;
        /* width: 90%; */
    }}
    .crypto-list{
        grid-template-columns: repeat(2, minmax(260px, 1fr));
    }
}
@media (min-width: 1200px) {
    .main-container{
    ul{
        grid-template-columns: repeat(2, 383px);
    }}
    .crypto-list{
        grid-template-columns: repeat(3, minmax(260px, 1fr));
    }
}