body{
    background: var(--bs) !important;
    display: flex;
    flex-direction:column
}

.login-button{
    color: var(--bs-light);
    border-color: #2FA15D;
}

.sign-button{
    color: var(--bs-light);
    background-color: #2FA15D;
    border-color: #2FA15D;
}
.sign-button:hover, .login-button:hover{
    background-color: #50A542;
    border-color: #50A542;
    box-shadow: 0px 0px 20px #2FA15D;
    transition: box-shadow 0.5s ease;
    scale: 1.05;
}
.sign-button:active, .login-button:active{
    background-color: #2FA15D !important;
    border-color: #2FA15D !important;
    scale: 1;
}

.my-form{
    border-color: var(--bs-body-bg);
}
.my-form:checked{
    background-color: #2FA15D;
    border-color: #2FA15D;
}

.my-form:focus{
    border-color: #2FA15D !important;
    box-shadow: 0px 0px 10px #2FA15D !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
