.container{
    background-color: #2A2A2D;
    /* height: inherit; */
    border-radius: 10px;
    padding: 3%;
}

.balance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    h3:first-child{
        padding-bottom: 10px ;
    }
    #curDifBalance{
        font-size: 1.1rem;
    }
    .balance-chart{
        width: 200px;
        height: 200px;
    }
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
    h3{
        padding: 20px 0 10px 0 ;
    }
    > div{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.wallet{
    width: 25vw;
    .wallet-coins{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
        width: 100%;
        height: 40vh;  /* TO CHANGE */
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-y: auto;
        gap: 15px;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            img{
                width: 35px;
                height: 35px;
            }
            div{
                display: flex;
                flex-direction: column;
                h5{
                    margin: 0;
                }
                p{
                    margin: 0;
                    font-size: .9rem;
                    color: #AB9F9F; 
                }
            }
            div:first-of-type{
                align-items: flex-start;
                width: 25%;
            }
            div:last-child{
                align-items: flex-end;
                width: 25%;
                h5{
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.market{
    width: 47vw;
    .market-table {
        ul{
            display: grid;
            grid-template-rows: auto;
            row-gap: 8px;
            height: 33.5vh; /* TO CHANGE */
            overflow-y: auto;
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .market-header, .market-row {
        div:first-of-type{
            padding-left: 5%;
        }
        display: grid;
        grid-template-columns: 
            0.3fr                 /* # */
            0.9fr                 /* Name */
            0.3fr                 /* Code */
            1.3fr                 /* Market Price */
            2fr                   /* Market Cap */
            1.9fr                 /* Volume(24h) */
            0.8fr;                /* 24h % */
        align-items: center;
        div{
            display: flex;
        }
        div:not(:nth-child(-n + 3)){
            justify-content: end;
        }
    }

    .market-header {
        font-size: .9rem;
        border-top: 2px solid #333;
        border-bottom: 2px solid #333;
        padding: 3px 0 3px 0;; 
    }

    .market-row {
        font-size: .9rem;
        padding-bottom: 5px;
        border-bottom: 1px solid #333; 
        div:nth-child(3){
            font-size: .9rem;
            color: #AB9F9F;
        }
    }
}

